INPUT_PERMISSION="read"
INPUT_GITHUB_TOKEN="<Create a fine grained token with access to the repo only metadata permissions needed>"
GITHUB_ACTOR="prince-chrismc"
GITHUB_REPOSITORY="prince-chrismc/check-actor-permissions-action"
